In [1]:
# Libraries for project imported 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
#Read dataset into notebook 
df = pd.read_csv("datahub\housing.csv")
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [3]:
#Data Preparation stage
# Using y = mx + c 
# Isolates the target column/columns of interest from the entire dataset 
X= df.drop("median_house_value",axis =1)
# Selects and displays the field of interest("median_house_value")
y=df["median_house_value"]

In [4]:
# Displays the first 5 rows of the dataset
X.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,NEAR BAY

In [5]:
# Displays the first 5 rows of the dataset
y.head()

0    452600.0
1    358500.0
2    352100.0
3    341300.0
4    342200.0
Name: median_house_value, dtype: float64

In [6]:
# Imports model selection class from sklearn
from sklearn.model_selection import train_test_split

In [7]:
 #Splits the dataset into a train and test. 
 #20% of the dataset will be used in the test state    
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=30)

In [8]:
0.8 * len(df)

16512.0

In [9]:
0.2*len(df)

4128.0

In [10]:
X_train.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
7186,-118.18,34.03,39.0,609.0,145.0,690.0,134.0,2.9167,<1H OCEAN
7686,-118.10,33.93,35.0,1622.0,302.0,845.0,284.0,4.5769,<1H OCEAN
6332,-117.95,33.99,24.0,1219.0,177.0,610.0,185.0,6.7978,<1H OCEAN
14192,-117.07,32.69,20.0,2192.0,406.0,1766.0,393.0,4.0921,NEAR OCEAN
6611,-118.11,34.18,52.0,3571.0,510.0,1434.0,490.0,5.9009,INLAND

In [11]:
X_train.shape

(16512, 9)

In [12]:
X_test.shape

(4128, 9)

In [13]:
X_test.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
19449,-121.03,37.68,20.0,3204.0,625.0,2016.0,605.0,2.6567,INLAND
10452,-117.66,33.46,26.0,2073.0,370.0,952.0,340.0,5.0877,<1H OCEAN
18982,-122.01,38.26,12.0,4132.0,710.0,2087.0,633.0,4.5987,INLAND
8187,-118.11,33.78,16.0,3985.0,567.0,1327.0,564.0,7.9767,<1H OCEAN
15759,-122.44,37.77,52.0,2994.0,736.0,1428.0,700.0,3.0766,NEAR BAY

In [14]:
X_test.shape

(4128, 9)

In [15]:
X_train.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        162
population              0
households              0
median_income           0
ocean_proximity         0
dtype: int64

In [16]:
X_test.isnull().sum()

longitude              0
latitude               0
housing_median_age     0
total_rooms            0
total_bedrooms        45
population             0
households             0
median_income          0
ocean_proximity        0
dtype: int64

In [17]:
#Filling in missing values using sklearn 
from sklearn.impute import SimpleImputer

In [18]:
# It fills in the missing values with the median 
imp = SimpleImputer(strategy="median")

In [19]:
#ocean_proximity was dropped from the train dataset because it is a string datatype
num_X_train = X_train.drop("ocean_proximity", axis = 1)

In [20]:
num_X_train.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
7186,-118.18,34.03,39.0,609.0,145.0,690.0,134.0,2.9167
7686,-118.10,33.93,35.0,1622.0,302.0,845.0,284.0,4.5769
6332,-117.95,33.99,24.0,1219.0,177.0,610.0,185.0,6.7978
14192,-117.07,32.69,20.0,2192.0,406.0,1766.0,393.0,4.0921
6611,-118.11,34.18,52.0,3571.0,510.0,1434.0,490.0,5.9009

In [21]:
#Finding total counts of missing values 
num_X_train.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        162
population              0
households              0
median_income           0
dtype: int64

In [22]:
# It scans through the dataset and finds out the missing value for each column 
# Fits learns form the dataset and figures out what the missing values are 
imp.fit(num_X_train)

SimpleImputer(strategy='median')

In [23]:
tran_num_X_train = pd.DataFrame(imp.transform(num_X_train), columns=num_X_train.columns)

In [24]:
#Finding total counts of missing values 
tran_num_X_train.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
dtype: int64

In [25]:
num_X_train.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
7186,-118.18,34.03,39.0,609.0,145.0,690.0,134.0,2.9167
7686,-118.10,33.93,35.0,1622.0,302.0,845.0,284.0,4.5769
6332,-117.95,33.99,24.0,1219.0,177.0,610.0,185.0,6.7978
14192,-117.07,32.69,20.0,2192.0,406.0,1766.0,393.0,4.0921
6611,-118.11,34.18,52.0,3571.0,510.0,1434.0,490.0,5.9009

In [26]:
#ocean_proximity was dropped from the test dataset because it is a string datatype
num_X_test = X_test.drop("ocean_proximity", axis=1)

In [27]:
tran_num_X_test = pd.DataFrame(imp.transform(num_X_test), columns = num_X_test.columns)

In [28]:
tran_num_X_test.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
dtype: int64

### 1. Evaluating The Model on Test Data 
You have trained and evaluated your model using your training data. Now you will evaluate the model again using only the test data to check if the model is really performing as good as our training metrics have us believing.

In [29]:
# Libraries for project imported 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [30]:
#Read dataset into notebook 
df = pd.read_csv("datahub\housing.csv")
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [31]:
#Data Preparation stage
# Using y = mx + c 
# Isolates the target column/columns of interest from the entire dataset 
#X= df.drop("median_house_value",axis =1)
# Selects and displays the field of interest("median_house_value")
#y=df["median_house_value"]

In [32]:
# Displays the first 5 rows of the dataset
X.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,NEAR BAY

In [33]:
# Displays the first 5 rows of the dataset
y.head()

0    452600.0
1    358500.0
2    352100.0
3    341300.0
4    342200.0
Name: median_house_value, dtype: float64

In [34]:
# Imports model selection class from sklearn
from sklearn.model_selection import train_test_split

In [35]:
#Splits the dataset into a train and test. 
 #20% of the dataset will be used in the test state    
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=30)

In [36]:
0.8 * len(df)

16512.0

In [37]:
0.2 * len(df)

4128.0

In [38]:
X_test.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
19449,-121.03,37.68,20.0,3204.0,625.0,2016.0,605.0,2.6567,INLAND
10452,-117.66,33.46,26.0,2073.0,370.0,952.0,340.0,5.0877,<1H OCEAN
18982,-122.01,38.26,12.0,4132.0,710.0,2087.0,633.0,4.5987,INLAND
8187,-118.11,33.78,16.0,3985.0,567.0,1327.0,564.0,7.9767,<1H OCEAN
15759,-122.44,37.77,52.0,2994.0,736.0,1428.0,700.0,3.0766,NEAR BAY

In [39]:
#Returns a count of rows and columns 
X_test.shape

(4128, 9)

In [40]:
#Returns the top 5 rows of the dataset
X_test.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
19449,-121.03,37.68,20.0,3204.0,625.0,2016.0,605.0,2.6567,INLAND
10452,-117.66,33.46,26.0,2073.0,370.0,952.0,340.0,5.0877,<1H OCEAN
18982,-122.01,38.26,12.0,4132.0,710.0,2087.0,633.0,4.5987,INLAND
8187,-118.11,33.78,16.0,3985.0,567.0,1327.0,564.0,7.9767,<1H OCEAN
15759,-122.44,37.77,52.0,2994.0,736.0,1428.0,700.0,3.0766,NEAR BAY

In [41]:
X_train.shape

(16512, 9)

In [42]:
X_train.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
7186,-118.18,34.03,39.0,609.0,145.0,690.0,134.0,2.9167,<1H OCEAN
7686,-118.10,33.93,35.0,1622.0,302.0,845.0,284.0,4.5769,<1H OCEAN
6332,-117.95,33.99,24.0,1219.0,177.0,610.0,185.0,6.7978,<1H OCEAN
14192,-117.07,32.69,20.0,2192.0,406.0,1766.0,393.0,4.0921,NEAR OCEAN
6611,-118.11,34.18,52.0,3571.0,510.0,1434.0,490.0,5.9009,INLAND

In [43]:
#Returns the count of missing values 
X_test.isnull().sum()

longitude              0
latitude               0
housing_median_age     0
total_rooms            0
total_bedrooms        45
population             0
households             0
median_income          0
ocean_proximity        0
dtype: int64

In [44]:
#Returns the count of missing values
X_train.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        162
population              0
households              0
median_income           0
ocean_proximity         0
dtype: int64

In [45]:
#Filling in missing values using sklearn 
from sklearn.impute import SimpleImputer

In [46]:
# It fills in the missing values with the median 
impute = SimpleImputer(strategy="median")

In [47]:
#ocean_proximity was dropped from the train dataset because it is a string datatype
num_X_test = X_test.drop("ocean_proximity", axis = 1)

In [48]:
num_X_test.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
19449,-121.03,37.68,20.0,3204.0,625.0,2016.0,605.0,2.6567
10452,-117.66,33.46,26.0,2073.0,370.0,952.0,340.0,5.0877
18982,-122.01,38.26,12.0,4132.0,710.0,2087.0,633.0,4.5987
8187,-118.11,33.78,16.0,3985.0,567.0,1327.0,564.0,7.9767
15759,-122.44,37.77,52.0,2994.0,736.0,1428.0,700.0,3.0766

In [49]:
#Finding total counts of missing values 
num_X_test.isnull().sum()

longitude              0
latitude               0
housing_median_age     0
total_rooms            0
total_bedrooms        45
population             0
households             0
median_income          0
dtype: int64

In [50]:
# It scans through the dataset and finds out the missing value for each column 
# Fits learns form the dataset and figures out what the missing values are 
impute.fit(num_X_test)

SimpleImputer(strategy='median')

In [51]:
#Replaces the null values with the median and it is passed to a dataframe 
tran_num_X_test = pd.DataFrame(impute.transform(num_X_test), columns=num_X_test.columns)

In [52]:
#Finding total counts of missing values 
tran_num_X_test.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
dtype: int64

In [53]:
num_X_test.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
19449,-121.03,37.68,20.0,3204.0,625.0,2016.0,605.0,2.6567
10452,-117.66,33.46,26.0,2073.0,370.0,952.0,340.0,5.0877
18982,-122.01,38.26,12.0,4132.0,710.0,2087.0,633.0,4.5987
8187,-118.11,33.78,16.0,3985.0,567.0,1327.0,564.0,7.9767
15759,-122.44,37.77,52.0,2994.0,736.0,1428.0,700.0,3.0766

In [54]:
#Drops the particular column in the dataset 
#ocean_proximity is a string value and the machine accepts a unified datatype 
num_X_train = X_train.drop("ocean_proximity", axis=1)

In [55]:
#Replaces the null values with the median and it is passed to a dataframe 
tran_num_X_train = pd.DataFrame(impute.transform(num_X_train), columns = num_X_train.columns)

In [56]:
#Finding total counts of missing values 
tran_num_X_train.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
dtype: int64

In [57]:
X.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,NEAR BAY

### Changing the categorical data to numerical data

In [58]:
#Constructs a dataframe from the dataset using the column "ocean_proximity"
pd.get_dummies(X["ocean_proximity"])

       <1H OCEAN  INLAND  ISLAND  NEAR BAY  NEAR OCEAN
0              0       0       0         1           0
1              0       0       0         1           0
2              0       0       0         1           0
3              0       0       0         1           0
4              0       0       0         1           0
...          ...     ...     ...       ...         ...
20635          0       1       0         0           0
20636          0       1       0         0           0
20637          0       1       0         0           0
20638          0       1       0         0           0
20639          0       1       0         0           0

[20640 rows x 5 columns]

In [59]:
#Imports the OneHotEncoder class 

from sklearn.preprocessing import OneHotEncoder

In [60]:
#the encoder finds the unique values per feature and transforms the data to a binary one-hot encoding.
enc = OneHotEncoder()

In [61]:

enc.fit(X_test[["ocean_proximity"]])

OneHotEncoder()

In [62]:
pd.DataFrame(enc.transform(X_test[["ocean_proximity"]]).toarray())

        0    1    2    3
0     0.0  1.0  0.0  0.0
1     1.0  0.0  0.0  0.0
2     0.0  1.0  0.0  0.0
3     1.0  0.0  0.0  0.0
4     0.0  0.0  1.0  0.0
...   ...  ...  ...  ...
4123  0.0  1.0  0.0  0.0
4124  0.0  1.0  0.0  0.0
4125  1.0  0.0  0.0  0.0
4126  0.0  1.0  0.0  0.0
4127  1.0  0.0  0.0  0.0

[4128 rows x 4 columns]

In [63]:
X_test.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
19449,-121.03,37.68,20.0,3204.0,625.0,2016.0,605.0,2.6567,INLAND
10452,-117.66,33.46,26.0,2073.0,370.0,952.0,340.0,5.0877,<1H OCEAN
18982,-122.01,38.26,12.0,4132.0,710.0,2087.0,633.0,4.5987,INLAND
8187,-118.11,33.78,16.0,3985.0,567.0,1327.0,564.0,7.9767,<1H OCEAN
15759,-122.44,37.77,52.0,2994.0,736.0,1428.0,700.0,3.0766,NEAR BAY

In [64]:
encod = pd.DataFrame(enc.transform(X_test[["ocean_proximity"]]).toarray(), columns=enc.get_feature_names_out(["ocean_proximity"]))

In [65]:
test_df=tran_num_X_test.join(encod)
test_df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
0,-121.03,37.68,20.0,3204.0,625.0,2016.0,605.0,2.6567,0.0,1.0,0.0,0.0
1,-117.66,33.46,26.0,2073.0,370.0,952.0,340.0,5.0877,1.0,0.0,0.0,0.0
2,-122.01,38.26,12.0,4132.0,710.0,2087.0,633.0,4.5987,0.0,1.0,0.0,0.0
3,-118.11,33.78,16.0,3985.0,567.0,1327.0,564.0,7.9767,1.0,0.0,0.0,0.0
4,-122.44,37.77,52.0,2994.0,736.0,1428.0,700.0,3.0766,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
4123,-121.41,38.58,18.0,6955.0,1882.0,2803.0,1740.0,3.0890,0.0,1.0,0.0,0.0
4124,-122.34,40.57,26.0,2187.0,472.0,1339.0,463.0,2.0395,0.0,1.0,0.0,0.0
4125,-122.69,38.32,15.0,2536.0,414.0,1400.0,426.0,5.6613,1.0,0.0,0.0,0.0
4126,-120.55,38.46,16.0,1443.0,249.0,435.0,181.0,3.2031,0.0,1.0,0.0,0.0
4127,-121.85,37.41,25.0,1837.0,278.0,1006.0,271.0,6.6842,1.0,0.0,0.0,0.0

In [66]:
type(encod)

pandas.core.frame.DataFrame

In [67]:
#pd.DataFrame(enc.transform(X_test[["ocean_proximity"]]).toarray())

In [68]:
#Feature Engineering

In [69]:
test_df["rooms_per_household"]=test_df["total_rooms"]/test_df["households"]
test_df["bedrooms_per_room"]=test_df["total_bedrooms"]/test_df["total_rooms"]
test_df["population_per_household"]=test_df["population"]/test_df["households"]

In [70]:
test_df.head(3)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN,rooms_per_household,bedrooms_per_room,population_per_household
0,-121.03,37.68,20.0,3204.0,625.0,2016.0,605.0,2.6567,0.0,1.0,0.0,0.0,5.295868,0.195069,3.332231
1,-117.66,33.46,26.0,2073.0,370.0,952.0,340.0,5.0877,1.0,0.0,0.0,0.0,6.097059,0.178485,2.800000
2,-122.01,38.26,12.0,4132.0,710.0,2087.0,633.0,4.5987,0.0,1.0,0.0,0.0,6.527646,0.171830,3.296998

In [71]:
corr_matrix = df.corr()
corr_matrix["median_house_value"].sort_values(ascending=False)

C:\Users\otchi\AppData\Local\Temp\ipykernel_11324\2708385154.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  corr_matrix = df.corr()

median_house_value    1.000000
median_income         0.688075
total_rooms           0.134153
housing_median_age    0.105623
households            0.065843
total_bedrooms        0.049686
population           -0.024650
longitude            -0.045967
latitude             -0.144160
Name: median_house_value, dtype: float64

In [72]:
test_labels=df["median_house_value"].copy()
test = df.drop("median_house_value",axis=1)
test_labels.head()

0    452600.0
1    358500.0
2    352100.0
3    341300.0
4    342200.0
Name: median_house_value, dtype: float64

In [73]:
test.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,NEAR BAY

In [74]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler

num_pipeline=Pipeline([('imputer',SimpleImputer(strategy="median")),("std_scaler", StandardScaler())])
test_num_tr=num_pipeline.fit_transform(num_X_test)
test_num_tr

array([[-0.71007657,  0.9414717 , -0.70313634, ...,  0.51322927,
         0.28088448, -0.648786  ],
       [ 0.96490398, -1.02458951, -0.21832812, ..., -0.38262042,
        -0.40881475,  0.67943788],
       [-1.19716291,  1.21168865, -1.34954731, ...,  0.57300871,
         0.35375836,  0.41226327],
       ...,
       [-1.53514118,  1.23964212, -1.1071432 , ..., -0.00542055,
        -0.18498783,  0.99283533],
       [-0.47150367,  1.3048669 , -1.02634183, ..., -0.8179158 ,
        -0.82263429, -0.35024979],
       [-1.11763861,  0.81568106, -0.29912949, ..., -0.33715436,
        -0.58839682,  1.55171653]])

In [75]:
from sklearn.compose import ColumnTransformer
num_attribute = list(num_X_test)
cat_attribute =["ocean_proximity"]

In [76]:
full_pipeline= ColumnTransformer ([("num",num_pipeline,num_attribute),("cat",OneHotEncoder(),cat_attribute)])
test_prepared = full_pipeline.fit_transform(test)

In [77]:
test_prepared.shape

(20640, 13)

In [78]:
from sklearn.linear_model import LinearRegression 
lin_reg = LinearRegression() 
lin_reg.fit(test_prepared, test_labels)

LinearRegression()

In [79]:
some_data = test.iloc[:5]
some_labels=test_labels.iloc[:5]
# transform / prepare some data
some_data_prepared = full_pipeline.transform(some_data)
# make predictions
print("Predictions:", lin_reg.predict(some_data_prepared))

Predictions: [408492.35829822 423996.66388553 378466.63041436 321115.43273007
 255844.57608296]

In [80]:
print("Labels:",list(some_labels))

Labels: [452600.0, 358500.0, 352100.0, 341300.0, 342200.0]

In [81]:
from sklearn.metrics import mean_squared_error 
test_predictions = lin_reg.predict(test_prepared)
lin_mse=mean_squared_error(test_labels, test_predictions)
lin_rmse=np.sqrt(lin_mse)
lin_rmse

68709.32557762168

In [82]:
from sklearn.tree import DecisionTreeRegressor 
tree_reg=DecisionTreeRegressor()
tree_reg.fit(test_prepared, test_labels)

DecisionTreeRegressor()

In [83]:
test_predictions = tree_reg.predict(test_prepared)
tree_mse=mean_squared_error(test_labels, test_predictions)
tree_rmse=np.sqrt(tree_mse)
tree_rmse

0.0

In [84]:
from sklearn.model_selection import cross_val_score
scores=cross_val_score(tree_reg, test_prepared, test_labels,scoring="neg_mean_squared_error", cv=10)
tree_rmse_scores=np.sqrt(-scores)
tree_rmse_scores

array([135313.3456906 ,  71611.25024977,  88224.85042891,  76077.44182399,
        86098.01548709,  85384.06568118,  75999.0431244 , 108180.96601943,
       104768.81860651,  73222.73044685])

In [85]:
def display_scores(scores):
    print("Scores:", scores)
    print("Mean:", scores.mean())
    print("Standard deviation:", scores.std())
display_scores(tree_rmse_scores)

Scores: [135313.3456906   71611.25024977  88224.85042891  76077.44182399
  86098.01548709  85384.06568118  75999.0431244  108180.96601943
 104768.81860651  73222.73044685]
Mean: 90488.05275587524
Standard deviation: 19101.71110290533

In [86]:
lin_scores=cross_val_score(lin_reg, test_prepared,test_labels,scoring="neg_mean_squared_error", cv=10)
lin_rmse_scores=np.sqrt(-lin_scores)
display_scores(lin_rmse_scores)

Scores: [85477.75043695 59711.08139208 88064.43852045 62773.17929279
 80776.17447132 69657.18594233 52473.9731118  91548.16404321
 78177.29708863 53543.54459487]
Mean: 72220.27888944557
Standard deviation: 13784.370351390728

In [89]:
from sklearn.ensemble import RandomForestRegressor
forest_reg=RandomForestRegressor()
forest_reg.fit(test_prepared, test_labels)
test_predictions=forest_reg.predict(test_prepared)
forest_mse=mean_squared_error(test_labels, test_predictions)
forest_rmse=np.sqrt(tree_mse)
forest_rmse

0.0

In [90]:
forest_scores = cross_val_score(forest_reg,test_prepared,test_labels,scoring="neg_mean_squared_error",cv=10)
forest_rmse_scores = np.sqrt(-forest_scores)
display_scores(forest_rmse_score)

array([110101.23432078,  48618.39883237,  69201.88368262,  60051.38046773,
        62166.97680146,  66542.78090334,  48953.70935018,  85400.94275511,
        80871.83640478,  54890.56335294])

In [92]:
from sklearn.ensemble import RandomForestRegressor 
forest_reg = RandomForestRegressor()
forest_reg.fit(test_prepared, test_labels)
test_predictions=forest_reg.predict(test_prepared)
forest_mse=mean_squared_error(test_labels, test_predictions)
forest_rmse=np.sqrt(tree_mse)
forest_rmse

0.0

In [94]:
forest_scores=cross_val_score(forest_reg, test_prepared,test_labels,scoring="neg_mean_squared_error", cv=10)
forest_rmse_scores=np.sqrt(-forest_scores)
display_scores(forest_rmse_scores)

Scores: [105991.48944003  48470.14835376  68210.64128942  59587.99448637
  62146.20339437  66707.13937756  48936.21888713  86291.50486205
  80761.81404118  54898.52671688]
Mean: 68200.16808487501
Standard deviation: 17215.20180719756

In [107]:
from sklearn.model_selection import GridSearchCV 
param_grid = [ {'n_estimators':[3,10,30],'max_features': [2,4,6,8]},{'bootstrap': [False],'n_estimators': [3,10],'max_features': [2,3,4]},]
forest_reg = RandomForestRegressor()
grid_search = GridSearchCV(forest_reg, param_grid,cv=5,scoring='neg_mean_squared_error',return_train_score=True)
grid_search.fit(test_prepared, test_labels)

GridSearchCV(cv=5, estimator=RandomForestRegressor(),
             param_grid=[{'max_features': [2, 4, 6, 8],
                          'n_estimators': [3, 10, 30]},
                         {'bootstrap': [False], 'max_features': [2, 3, 4],
                          'n_estimators': [3, 10]}],
             return_train_score=True, scoring='neg_mean_squared_error')

In [108]:
grid_search.best_params_

{'max_features': 4, 'n_estimators': 30}

In [109]:
grid_search.best_estimator_

RandomForestRegressor(max_features=4, n_estimators=30)

In [110]:
cvres=grid_search.cv_results_
for mean_score, params in zip(cvres["mean_test_score"], cvres["params"]):
    print(np.sqrt(-mean_score), params)

87066.8992885419 {'max_features': 2, 'n_estimators': 3}
74017.8409476524 {'max_features': 2, 'n_estimators': 10}
71790.75155346774 {'max_features': 2, 'n_estimators': 30}
85035.95510285246 {'max_features': 4, 'n_estimators': 3}
74873.79743991951 {'max_features': 4, 'n_estimators': 10}
71620.73832380468 {'max_features': 4, 'n_estimators': 30}
86744.24821719342 {'max_features': 6, 'n_estimators': 3}
76138.13754958038 {'max_features': 6, 'n_estimators': 10}
75349.27622619465 {'max_features': 6, 'n_estimators': 30}
83594.30878433608 {'max_features': 8, 'n_estimators': 3}
79314.84559559327 {'max_features': 8, 'n_estimators': 10}
75229.13144283704 {'max_features': 8, 'n_estimators': 30}
83149.22287287739 {'bootstrap': False, 'max_features': 2, 'n_estimators': 3}
72211.53055669984 {'bootstrap': False, 'max_features': 2, 'n_estimators': 10}
83673.26951442794 {'bootstrap': False, 'max_features': 3, 'n_estimators': 3}
73448.05427482091 {'bootstrap': False, 'max_features': 3, 'n_estimators': 10}
85070.91226577976 {'bootstrap': False, 'max_features': 4, 'n_estimators': 3}
74965.1852780125 {'bootstrap': False, 'max_features': 4, 'n_estimators': 10}

In [111]:
grid_search.best_params_
# our result {'max_features': 8, 'n_estimators': 30}
# Since 8 and 30 are the maximum values that were evaluated, you should␣↪probably try searching again with higher values, since the score may␣↪continue to improve.[52]:{'max_features': 8, 'n_estimators': 30}You can also get the best estimator directly:[53]:grid_search.best_estimator_36

{'max_features': 4, 'n_estimators': 30}

In [114]:
import pickle #from sklearn.externals import joblib 
filename='forest_housing_model.pkl'
#joblib.dump(grid_search.best_estimator_,filename)
filename='forest_housing_model.sav',pickle.dump(grid_search.best_estimator_,open(filename,'wb'))
filename

('forest_housing_model.sav', None)

In [131]:
# if you want re-load the model you can use the following code:
model = pickle.load(open('forest_housing_model.pkl','rb'))
model

RandomForestRegressor(max_features=4, n_estimators=30)